out
result
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
dist-newstyle
.stack-work
stack.yaml.lock
client/

dashboard.cabal
analytics-dashboard.cabal
credit-platform.cabal
euler-hs.cabal
euler-backend.cabal
