let Redis : Type =
  { redisHost : Text
  , redisPort : Natural
  , redisDb : Natural
  }

let App : Type =
  { httpPort : Natural
  , jwtSecret : Text
  , redis : Redis
  , enableCors : Bool
  }

in { httpPort = 9000
   , jwtSecret = "rSMPIDS9t0AtTpk1FSher5h1nMHCRXNJ"
   , redis =
      { redisHost = "localhost"
      , redisPort = 6379
      , redisDb = 0
      }
   , enableCors = True {- DON'T DO THIS IN PROD -}
   }
